<!-- <div class="container-fluid" id="tb">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">s.no</th>
        <th scope="col">Title</th>

        <th scope="col">First-name</th>
        <th scope="col">Last-name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Adhaar</th>
        <th scope="col">Policy</th>
        <th scope="col">Nominie</th> 
        <th scope="col">Relation</th>

        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let data of myData ;let i=index">
      <tr>
        <td>{{i+1 }}</td>
        <td>{{data.title}}</td>
        <td>{{data.firstname}}</td>
        <td>{{data.lastname}}</td>
        <td>{{data.phone}}</td>
        <td>{{data.email}}</td>
        <td>{{data.address}}</td>
        <td>{{data.adhar}}</td>
        <td>{{data.policy}}</td>
        <td>{{data.nominie}}</td>
        <td>{{data.relation}}</td>
      </tr>

    </tbody>
  </table>

</div> -->